{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% block course_content %}
<p>We parsen niet zomaar. Als we parsen, doen we dat om iets te doen met een input opgesteld in een bepaalde taal. Een programma dat op deze manier "iets doet", noemen we een <em>language application</em>. Voorbeelden:
<ul>
  <li>...</li>
</ul>
</p>
<p>We kunnen deze language applications vaak implementeren met behulp van het "listener" pattern of, voor extra flexibiliteit, het "visitor" pattern.
TODO: links naar deze twee patterns, of gewoon echt zelf uitleggen.
</p>
<p>Het voordeel van het gebruik van deze patterns is dat het normaal niet nodig is taalspecifieke aspecten te integreren in de grammatica.</p>
{% endblock %}

{% block assignment %}
{% endblock %}
