{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% block course_content %}
<p>Zie <a href="https://www.antlr.org">website</a>. Onderdelen:
<dl>
	<dt>ANTLR tool</dt>
	<dd>de parsergenerator. Deze neemt een grammatica (<filename>.g4</filename> file) en produceert uitvoerbare parsercode in een ondersteunde programmeertaal. Dat is typisch Java, maar andere targets zijn ook mogelijk.</dd>
	<dt>StringTemplate</dt>
	<dd>een template engine, specifiek geschikt voor het produceren van gestructureerde tekst</dd>
</dl></p>
{% endblock %}

{% block assignment %}
{% endblock %}
